.searchResultIframe {
    position: absolute;
    width: 90%;
    height: 100%;
    border: none;
    overflow: hidden;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.pageView {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.colorDef {
    margin-top: 32px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}