* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 100%;
    font-family: Arial;
    color: #464646
}

.main {
    width: 800px;
    margin: auto;
}
