noindex {
    background-color: #0307fb;
}

a[ref~="nofollow"], a[rel~="nofollow"] {
    background-color: #03defb;
}

meta[name="robots"][content~="noindex,nofollow"], meta[name="robots"][content~="nofollow,noindex"] {
    background-color: #fb0303;
}

meta[name="robots"][content~="noindex"] {
    background-color: #ff6868;
}

meta[name="robots"][content~="nofollow"] {
    background-color: #ffc1c1;
}
