a[ref~="nofollow"], a[rel~="nofollow"] {
    background-color: #03defb;
}

meta[name="googlebot"][content~="noindex,nofollow"], meta[name="googlebot"][content~="nofollow,noindex"] {
    background-color: #4d03fb;
}

meta[name="googlebot"][content~="noindex"] {
    background-color: #906ace;
}

meta[name="googlebot"][content~="nofollow"] {
    background-color: #bd56ec;
}
